* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
body {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-items: center;
    background: url(../imgs/natali-quijano-N79MYsd2Ce4-unsplash.jpg) center
        center no-repeat;
    background-size: cover;
}
.container {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
    width: 90%;
    margin: 20px 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 10px;

}
.container nav{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;

}
#logout-btn{
    min-width: 80px;
    min-height: 30px;
    background-color: rgba(189, 38, 38, 0.8);
    color: #fff;
    border-radius: 50px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
#logout-btn:hover{
    background-color: rgba(141, 28, 28, 0.8);
}

label {
    display: block;
    margin-bottom: 10px;
    color: #333;
    font-weight: bold;
}

input[type="text"],
input[type="email"], 
input[type="date"], 
input[type="number"] {
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 20px;
    margin-right: 8px;
    transition: border 0.3s ease;
    width: 200px;
}

.dates{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

input[type="submit"] {
    display: block;
    margin: 0 auto;
    background-color: darkcyan;
    color: white;
    padding: 15px 30px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
    width: 200px;
}
#sort-by-price-btn{
    display: block;
    margin: 10px auto;
    background-color: darkcyan;
    color: white;
    padding: 15px 30px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
    width: 200px;
}
#sort-by-price-btn:hover{
    background-color: rgb(1, 94, 94);
}

input[type="submit"]:hover {
    background-color: rgb(1, 94, 94);
}

input.error {
    border: 2px solid red;
    background-color: #fdd;
}

.error-message {
    color: red;
    font-size: 14px;
    margin-bottom: 20px;
    transition: color 0.3s ease;
}

h1 {
    margin-bottom: 20px;
    text-align: center;
}


main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 10px;
}
#flights-board{
    width: 100%;
    height: 200px;
    border: 5px solid darkcyan;
    border-radius: 10px;
    overflow-y: scroll;
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 8px;
}
.ticket{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    border: 2px solid #333;
    border-radius: 10px;
}
.btn{
    width: 100px;
    height: 30px;
    margin: 8px;
    background-color: darkcyan;
    color: #fff;
    border: none;
    border-radius: 10px;
    transition: background-color 0.3s ease;
    cursor: pointer;
}
.btn:hover{
    background-color: rgb(1, 94, 94);
}